body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.left-container {
  position: fixed;
  float: left;
  height: 100%;
  width: 50%;
  background-color: #455A64;
}

.linked-list-logo {
  display: flex;
  justify-content: center;
  position: relative;
  top: 20%;
  color: #fff;
  font-size: 50px;
  font-weight: 800;
}

span img {
  height: 60px;
  width: 60px;
  vertical-align: text-bottom;
}

.website-title-input,
.website-url-input {
  position: absolute;
  left: 10%;
  height: 3%;
  width: 76%;
  padding: 2%;
  border: none;
  font-size: 30px;
  color: #455A64;
}

.website-title-input {
  top: 35%;
}

.website-url-input {
  top: 50%;
}

.enter-button {
  position: absolute;
  top: 65%;
  left: 10%;
  height: 6%;
  width: 80%;
  border: none;
  background-color: #FFC107;
  color: white;
  font-size: 20px;
  font-weight: 800;
}

.enter-button:hover, .enter-button:disabled {
  background-color: #FFD773;
}

.right-container {
  position: fixed;
  left: 50%;
  height: 100%;
  width: 50%;
  padding-top: 30px;
  background-color: #CFD8DC;
  overflow: auto;
}

.new-bookmark {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: white;
  border: 2px solid #607D8B;
  text-align: center;
  padding: 20px;
}

hr {
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #CFD8DC;
}

.new-website-title-bookmark {
  margin: 10px 15px;
  font-size: 30px;
  font-weight: 600;
  color: #455A64;
  text-align: left;
  /*border-bottom: 2px solid #CFD8DC;*/
}

.new-website-url-bookmark  {
  margin: 16px 15px;
  color: #607D8B;
  text-align: left;
  margin: 8px 15px;
}

.new-website-url-bookmark a {
  text-decoration: none;
  border-bottom: 1px solid #F2F4F4;
  color: #607D8B;
}

.new-website-url-bookmark a:hover {
  color: #455A64;
  border-bottom: 2px solid #FFC107;
  font-weight: 600;
}

.read-button{
  float: left;
  margin-left: 10px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #F2F4F4;
  color: #455A64;
}


.read-button:hover {
  border-bottom: 2px solid #FFC107;
  font-weight: 800;
}

.delete-button {
  float: right;
  margin-right: 10px;
  border: none;
  background-color:
  transparent;
  border-bottom: 1px solid #F2F4F4;
  color: #455A64;
}

.delete-button:hover {
  border-bottom: 2px solid #FFC107;
  font-weight: 800;
}

.read {
  background-color: #F2F4F4;
}

.read a {
  border-bottom: 1px solid #CFD8DC;
  color: #CFD8DC;
}
.read a:hover {
  border-bottom: none;
  font-weight: 400;
}

.read .read-button {
  border-bottom: none;
  color: #F05A28;
}

@media screen and (max-width: 790px){
  .left-container {
    position: absolute;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    left: 0;
  }
  .right-container{
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
  }
  .linked-list-logo {
    text-align: center;
    left: 0;
    font-size: 40px;
  }
  .enter-button {
    height: 10%;
  }
  span img {
    height: 50px;
    width: 50px;
  }
}

@media screen and (max-width: 450px) {
  .linked-list-logo {
    font-size: 30px;
  }
  span img {
    height: 40px;
    width: 40px;
  }
  .website-title-input,
  .website-url-input {
  height: 6%
  }
}
