body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.left-container {
  position: fixed;
  float: left;
  width: 50%;
  height: 100%;
  background-color: #455A64;
}

span img {
  height: 50px;
  width: 50px;
  vertical-align: text-bottom;
}

.linked-list-logo {
  position: relative;
  text-align: center;
  color: #fff;
  top: 20%;
  left: 10%;
  font-size: 40px;
  font-weight: 800;
}

.website-title-input, .website-url-input {
  position: absolute;
  left: 10%;
  width: 76%;
  height: 3%;
  border: none;
  padding: 2%;
  font-size: 30px;
  color: #455A64;
}

.website-title-input {
  top: 35%;
}

.website-url-input {
  top: 50%;
}

.enter-button {
  position: absolute;
  top: 65%;
  left: 10%;
  width: 80%;
  height: 6%;
  border: none;
  background-color: #FFC107;
  color: white;
  font-size: 20px;
  font-weight: 800;
}

.enter-button:hover {
  background-color: #FFD773;
}


.read-button {
  outline: none;
}

.right-container {
  position: fixed;
  left: 50%;
  width: 50%;
  height: 100%;
  background-color: #CFD8DC;
  padding-top: 30px;
  overflow: auto;
}

.new-bookmark {
  width: 75%;
  margin: 0 auto;
  background-color: white;
  border: 2px solid #607D8B;
  text-align: center;
  margin-bottom: 20px;
  height: 20%;
  /*padding: 20px;*/
}

hr {
  border: 1px solid #CFD8DC;
  margin-left: 10px;
  margin-right: 10px;
}
.new-website-title-bookmark {
  font-size: 30px;
  font-weight: 600;
  color: #455A64;
  text-align: left;
  margin: 10px 15px;
  /*border-bottom: 2px solid #CFD8DC;*/
}

.new-website-url-bookmark  {
  color: #607D8B;
  text-align: left;
  margin: 16px 15px;

}

.new-website-url-bookmark a {
  color: #607D8B;
  text-decoration: none;
  border-bottom: 1px solid #F2F4F4;

}

.new-website-url-bookmark a:hover {
  color: #455A64;
  border-bottom: 2px solid #FFC107;
  font-weight: 600;
}

.read-button{
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #F2F4F4;
  color: #455A64;
  float: left;
  margin-left: 10px;
}

.read-button:hover {
  border-bottom: 2px solid #FFC107;
  font-weight: 800;
}

.delete-button {
  border: none;
  background-color:
  transparent;
  border-bottom: 1px solid #F2F4F4;
  color: #455A64;
  float: right;
  margin-right: 10px;
}

.delete-button:hover {
  border-bottom: 2px solid #FFC107;
  font-weight: 800;
}

.read {
  background-color: #F2F4F4;
}
.read a {
  color: #CFD8DC;
  border-bottom: 1px solid #CFD8DC;
}
.read a:hover {
  font-weight: 400;
  border-bottom: none;
}

.read .read-button {
  color: #F05A28;
  border-bottom: none;
}



/*.wtf{
  border-bottom: 1px solid grey;
}*/

/*OVERFLOW_ AUTO!*/
